.bgimg1 {
    background: linear-gradient(#d0efe5 50px, rgba(255, 255, 255, 0.512), rgba(32, 32, 32, 0.49)), url(../imgs/dairy_products.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 40%;
    border-radius: 45px;
    position: relative; 
}
.diaryintro {
    margin-left: 25%;
    display: grid;
    grid-template-columns: 40% 55%;
}
.diaryintro h3 {
    font-size: larger;
    text-decoration: underline 2px;
}
.productsclass {
    margin-left: 25%;
}
#productimges {
    width: 50%;
    border-radius: 8px;
    margin-left: 5%;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px #090909;
    transition: 0.3s ease-in-out;
}
#producthr {
    margin-left: 25%;
    margin-top: 5%;
    width: 65%;
    border: 2px solid #020202;
    border-radius: 10px;
    margin-bottom: 20px;
}
#productimges:hover {
    border-radius: 8px;
    box-shadow: 0px 0px 25px #0c0c0c;   
}
.productsRow {
    display: grid;
    grid-template-columns: auto auto auto;
}
.orderButton {
    padding: 5px 10px;
    margin-left: 15%;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #ff0000d1;
    color: white;
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .bgimg1 {
        height: 30%;
        border-radius: 20px;
        background-size: cover;
    }
    .diaryintro {
        margin-left: 5%;
        grid-template-columns: 100%;
        text-align: center;
    }
    .diaryintro h3 {
        font-size: medium;
    }
    .productsclass {
        margin-left: 5%;
    }
    #productimges {
        width: 80%;
        margin: 10px auto;
        display: block;
    }
    #producthr {
        margin: 20px auto;
        width: 90%;
    }
    .productsRow {
        grid-template-columns: 100%;
        gap: 10px;
    }
    .orderButton {
        margin: 10px auto;
        width: 80%;
        padding: 10px 0;
    }
}
